<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книга [Добавить книгу]</title>
    <link rel="stylesheet" href="css/main.min.css">
<!--    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <script src="/libs/vue.js"></script>
    <script type="module" src="js/formVue.js" defer></script>
    <script src="js/close-modal-entry.js" defer></script>
</head>
<body>
<div class="page" id="app">
    @@include('../header.html')
    <main class="main">
        <!-- Модальное окно ошибок -->
        @@include('../messageError.html')
        <!-- Конец Модальное окна -->

        <!-- Модальное окно оповещений -->
        @@include('../messageNotification.html')
        <!-- Конец Модальное оповещений -->



        <!-- Модальное окно добавление главы -->
        <div class="css-modal-target" id="modal-add-chapter">
            <div class="cmt">
                <a href="#close" class="css-modal-close" id="close-modal-add-chapter" title="Закрыть">&times;</a>
                <form id="formAddChapter">
                    <div class="formEmpty">
                        <h3>СОЗДАТЬ ГЛАВУ</h3>
                        <input type="text" id="nameAddChapterInput" placeholder="Название главы">
                        <button type="submit">Создать</button>
                    </div>
                </form>
                <div id="text-add-chapter"></div>

            </div>
        </div>
        <!-- Конец Модальное окна -->


        <div class="tab">
<!--            вкладка 1-->
            <div class="tab-content" id="content-1">
                <div class="add-book">
                    <form id="formNewBook">
                        <div class="cart-book">
                            <div class="add-img">
                                <div class="preview">
                                    <b>Обложка книги</b><br>
                                    Размер изображения должен быть не менее 200 пикселей в ширину и 285 в высоту.<br>
                                    Максимальный размер файла: 5 мб.
                                </div>
                                <label for="riss">
                                    <div class="block-img">
                                        <img
                                                v-if="imageUrl"
                                                id="e4r45t_"
                                                :src="imageUrl"
                                                alt="Превью обложки"
                                        />
                                        <input
                                            id="riss"
                                            type="file"
                                            accept="image/png, image/jpeg"
                                            @change="handleFileChange"
                                        />
                                    </div>
                                </label>
                                <label for="riss" class="pseudo-button">загрузить обложку</label>
                            </div>

                            <div class="block-input">
                                <div>
                                    <label for="nameBook">Название книги:</label>
                                    <input type="text" id="nameBook" v-model="nameBook">
                                </div>

                                <div>
                                    <label for="inputCategory">Жанр:</label>
                                    <select id="inputCategory" v-model="genreId">
                                        <option value="0">Выберите значение</option>
                                        <option v-for="genre in genres" :key="genre.id" :value="genre.id">
                                            {{genre.name}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label for="tegBook">
                                        Тэги для поиска через пробел. <code>Максимум 5 тегов.</code>
                                    </label><br>
                                    <label for="tegBook">Введено {{tagsCount}} из 5 тегов.</label>
                                    <textarea id="tegBook" rows="2" v-model="tagsText"></textarea>
                                </div>

                                <div>
                                    <label for="inputDescription">
                                        Краткое описание книги. Расскажите о чем она. <code>Максимум 400 символов.</code>
                                    </label><br>
                                    <label for="inputDescription">
                                        Введено {{ descriptionText.length }} символов.
                                    </label>
                                    <textarea
                                            maxlength="400"
                                            id="inputDescription"
                                            rows="5"
                                            v-model="descriptionText"
                                    ></textarea>
                                </div>

                                <div class="loop-control">
                                    <div>
                                        <label for="inputCycle">Книга входит в цикл:</label>
                                        <select id="inputCycle" v-model="cycleId">
                                            <option value="0">Не входит в цикл</option>
                                            <option v-for="val in cycles" :key="val.id" :value="val.id">
                                                {{val.cycle}}
                                            </option>
                                        </select>
                                    </div>
                                    <a href="#">Создать цикл</a>
                                </div>
                                <div class="block-button">
                                    <button type="button" @click="handleClear">Очистить</button>
                                    <button type="submit">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

<!--            Вкладка 2-->
            <div class="tab-content" id="content-2">
<!--                Данная вкладка должна быть доступной только после добавления книги. -->
                <div class="add-chapter">
                    <div class="add-chapter1">
                        <button onclick="window.location.href='#modal-add-chapter'">Добавить главу</button>
                        <div class="switch-with-signature">
                            <div>Редактировать порядок сортировки</div>
                            <div class="form_toggle">
                                <fieldset class="toggle_group">
                                    <div class="form_toggle-item item-1">
                                        <input id="fid-1" type="radio" name="toggle" value="off" checked>
                                        <label for="fid-1">ВЫКЛ.</label>
                                    </div>
                                    <div class="form_toggle-item item-2">
                                        <input id="fid-2" type="radio" name="toggle" value="on">
                                        <label for="fid-2">ВКЛ.</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <ol id="sortable-list" class="extraction">
                        <li draggable="false" class="chapter-book">
                            <h3>глава 1</h3>
                            <div class="status published">
                                Опубликована
                            </div>
                            <a><img src="img/edit.png" title="редактировать"></a>
                        </li>
                        <li draggable="false" class="chapter-book">
                            <h3>глава 2</h3>
                            <div class="status published">
                                Опубликована
                            </div>
                            <a><img src="img/edit.png" title="редактировать"></a>
                        </li>
                        <li draggable="false" class="chapter-book">
                            <h3>глава 3</h3>
                            <div class="status draft">
                                Черновик
                            </div>
                            <a><img src="img/edit.png" title="редактировать"></a>
                        </li>
                        </ol>
                    </div>
                    <div class="add-chapter1">
                        <form>
                        <input type="text" placeholder="Название главы" v-model="nameChapter">
                        <div class="editing-panel">
                            <a title="Выровнять текст по центру" onclick="format('justifyCenter')"><img src="/img/align_center.png"></a>
                            <a title="Выровнять текст по левому краю" onclick="format('justifyLeft')"><img src="/img/align_left.png"></a>
                            <a title="Выровнять текст по правому краю" onclick="format('justifyRight')"><img src="/img/align_right.png"></a>
                            <a title="Выровнять текст по обоим краям" onclick="format('justifyFull')"><img src="/img/align_edges.png"></a>
                            <div></div>
                            <a title="Жирный текст" onclick="format('bold')"><img src="/img/bold_text.png"></a>
                            <a title="Подчеркнутый текст" onclick="format('underline')"><img src="/img/underlined_text.png"></a>
                            <a title="Курсив текст" onclick="format('italic')"><img src="/img/italics_text.png"></a>
                        </div>
                        <textarea rows="20" cols="100" v-model="textChapter"></textarea>
<!--                            <div id="editor" contenteditable="true">-->
<!--                                Редактируемый текст...-->
<!--                            </div>-->
                        <div>
                            <button type="submit">Сохранить</button>
                            <button type="reset">Очистить</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-nav">
                <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
                <label for="tab-btn-1">Настройка</label>
                <input id="tab-btn-2" name="tab-btn" type="radio" value="">
                <label for="tab-btn-2">Главы</label>
            </div>
        </div>
    </main>
    @@include('../footer.html')
</div>
</body>
</html>