<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книга [Добавить главу 2]</title>
    <!-- Локальные стили из вашей сборки Gulp -->
    <link rel="stylesheet" href="/css/quill.snow.css">
    <link rel="stylesheet" href="/css/main.min.css">

    <!-- Локальные библиотеки из вашей папки libs -->
    <script src="/libs/vue.js"></script>
    <script src="/libs/quill.js"></script>
    <script src="/libs/vue-quill.global.prod.js"></script>
    <script src="/js/addChapter.js" defer></script>
    <script src="/js/close-modal-entry.js" defer></script>
</head>
<body>
<div class="page" id="app">
    @@include('../header.html')
    <main class="main">
        <!-- Модальное окно ошибок -->
        @@include('../messageError.html')
        <!-- Конец Модальное окна -->

        <!-- Модальное окно оповещений -->
        @@include('../messageNotification.html')
        <!-- Конец Модальное оповещений -->

        <!-- Модальное окно удаления главы -->
        <div class="css-modal-target" id="modal-del-chapter">
            <div class="cmt">
                <a href="#close" class="css-modal-close" id="close-modal-del-chapter" title="Закрыть">&times;</a>
                <form id="formDelChapter" @submit.prevent>
                    <div class="formEmpty" v-if="chapterToDelete">
                        <h3>УДАЛИТЬ ГЛАВУ</h3>
                        {{ chapterToDelete.value }}
                        <button
                                type="button"
                                @click=deleteChapter
                        >
                            удалить
                        </button>
                    </div>
                </form>
                <div id="text-del-chapter"></div>

            </div>
        </div>
        <!-- Конец Модальное окна -->

        <div class="chapters">
            <ul>
                <li v-for="(chapter, index) in chapters" :key="chapter.id">
                    <div class="block-button">
                        <div class="block-up-down">
                            <button
                                    v-if="index > 0"
                                    class="tooltip-btn"
                                    data-tooltip="вверх"
                                    @click="moveUp(index)"
                            >
                                <img src="img/up.png" alt="вверх">
                            </button>
                            <button
                                    v-if="index < chapters.length -1"
                                    class="tooltip-btn"
                                    data-tooltip="Вниз"
                                    @click="moveDown(index)"
                            >
                                <img src="img/down.png" alt="Вниз">
                            </button>
                        </div>
                        {{ chapter.value }}
                    </div>
                    <div class="block-button">
                        <div :class="['status', chapter.published ? 'published':'draft']">
                            {{ chapter.published ? 'Опубликована' : 'Черновик' }}

                        </div>
                        <button
                                class="tooltip-btn"
                                data-tooltip="Изменить"
                                @click=editChapter(chapter)
                        >
                            <img src="img/edits.png" alt="Изменить">
                        </button>
                        <button
                                class="tooltip-btn"
                                data-tooltip="Удалить"
                                @click=prepareDelete(chapter)
                        >
                            <img src="img/del.png" alt="Удалить">
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="add-book addChapter">
            {{ chapterDel }}
            <form id="formNewBook" @submit.prevent="saveChapter">
                <div class="cart-book">
                    <div class="block-input">
                        <div>
                            <label for="nameBook">Название главы:</label>
                            <input type="text" id="nameBook" v-model="nameChapter">
                        </div>

                        <div class="imageChapter">
                            <label for="imageChapter">Рисунок в начале главы</label>
                            <div class="imageChapterLine">
                            <button v-if="textNotification"
                                    class="tooltip-btn"
                                    data-tooltip="Посмотреть рисунок"
                                    @click.prevent="openImg"
                            >
                                <img src="/img/see.png" alt="Посмотреть рисунок">
                            </button>
                            <input
                                id="imageChapter"
                                type="file"
                                accept="image/png, image/jpeg"
                            >
                            </div>
                        </div>
                        <div>

                            <!-- Динамический счетчик символов -->
                            <label>Текст главы. {{ characterCountText }}</label>

                            <!-- Компонент Quill редактора вместо старого textarea -->
                            <quill-editor
                                    ref="myEditor"
                                    v-model:content="textChapter"
                                    content-type="html"
                                    :options="editorOptions"
                                    theme="snow">
                            </quill-editor>
                        </div>
                        <div class="block-button">
                            <div class="form_toggle">
                                <fieldset class="toggle_group">
                                    <div class="form_toggle-item item-1">
                                        <input id="fid-1" type="radio" name="toggle" value="off" checked>
                                        <label for="fid-1">Черновик</label>
                                    </div>
                                    <div class="form_toggle-item item-2">
                                        <input id="fid-2" type="radio" name="toggle" value="on">
                                        <label for="fid-2">Опубликована</label>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="button" @click="resetForm">Очистить</button>
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    @@include('../footer.html')
</div>
</body>
</html>
