@use "mixins" as *

$colorText: #19245A

.add-book
  @include flexColumn1
  .cart-book
    display: inline-flex
    flex-flow: row nowrap
    gap: 2rem
    align-items: flex-start
    > .add-img
      max-width: 200px
      @include flexColumn1
      justify-content: center
      gap: 1rem
      > .preview
        text-align: center
        font-size: 0.9em
      > .pseudo-button
        @include button1
        font-size: 0.7em
        padding: 0.3rem 0.4rem
      .block-img
        width: 200px
        height: 285px
        border: 1px solid $colorText
        > input
          visibility: hidden
        >img
          width: 200px
          height: 285px
          display: none
    > .block-input
      display: inline-flex
      flex-flow: column nowrap
      gap: 2rem
      div
        > label
          margin: 0
          padding-left: 1rem
          font-weight: bold
        > input
          @include input1
          margin: 0
          text-align: left
        > textarea
          width: 100%
          margin: 0
          box-sizing: border-box //Учитывает padding и border в ширине
          border: 2px solid #ccc // Граница
          border-radius: 5px // Скругление углов
          font-size: 16px // Размер шрифта
          color: #333 // Цвет текста
          background-color: #f9f9f9 // Цвет фона
          padding: 10px 15px
          transition: 0.3s // Плавный переход
          resize: none
        > select
          width: 100%
          padding: 10px 15px
          margin: 0
          box-sizing: border-box //Учитывает padding и border в ширине
          border: 2px solid #ccc // Граница
          border-radius: 5px // Скругление углов
          font-size: 16px // Размер шрифта
          color: #333 // Цвет текста
          background-color: #f9f9f9 // Цвет фона
          transition: 0.3s // Плавный переход
          text-align: left
          &:focus
            border-color: #eae5e5 // Цвет границы при фокусе
            background-color: #fff
            outline: none // Убирает стандартный контур браузера
            box-shadow: 0 0 5px rgba(23, 33, 84, 0.5) // Тень
        > button
          @include button1
          padding: 0.3rem 0.5rem
      > .loop-control
        display: flex
        flex-flow: row nowrap
        gap: 2rem
        align-items: flex-end
        > a
          @include button1
          padding: 0.2rem 0.5rem
          margin-bottom: 0.1rem
.add-chapter
  display: flex
  flex-flow: column nowrap
  gap: 2rem
  align-items: center

// переключатель
$display-inline-block: inline-block
$padding-horizontal: 15px
$line-height: 34px
$border-color: #999
$border-width: 1px
$border-radius: 6px
$off-bg: #ffc5c5
$on-bg: #bbffbb

.form_toggle
  display: $display-inline-block
  overflow: hidden

  .form_toggle-item
    float: left
    display: $display-inline-block

    input[type=radio]
      display: none

    label
      display: $display-inline-block
      padding: 0 $padding-horizontal
      line-height: $line-height
      border: $border-width solid $border-color
      cursor: pointer
      user-select: none
      transition: background 0.3s ease

  .item-1
    label
      border-radius: $border-radius 0 0 $border-radius
      border-right: none

  .item-2
    label
      border-radius: 0 $border-radius $border-radius 0
      border-right: $border-width solid $border-color

  .item-1 input[type=radio]:checked + label
    background: $off-bg

  .item-2 input[type=radio]:checked + label
    background: $on-bg
