@use "variables" as *

.heading-error
  color: $errorColor
  font-weight: bold
  letter-spacing: 0.1em
#openModalError // скрыть ссылку на открытие модального окна
  display: none

#openModalNotification
  display: none

.error-border
  border: 2px solid $errorBorder !important
#textError
  white-space: pre-line

.heading-notification
  color: $headingColor
  font-weight: bold
  letter-spacing: 0.1em
