// Стили для визуального редактора Quill
.ql-toolbar.ql-snow
  background-color: #ffffff
  border-color: #cccccc // при необходимости можно настроить цвет рамки
  border-top-left-radius: 5px  // Скругление верхнего левого угла
  border-top-right-radius: 5px // Скругление верхнего правого угла

.ql-container.ql-snow
  background-color: #ffffff
  border-color: #cccccc
  min-height: 200px // задает минимальную высоту, чтобы поле не схлопывалось
  font-family: inherit // наследует шрифт вашего проекта
  color: black
  border-bottom-left-radius: 5px  // Скругление нижнего левого угла
  border-bottom-right-radius: 5px // Скругление нижнего правого угла
