// глобальные переменные
$colorText: #19245A
$backgroundColor: #c4d0dc


$link-hover-color: #697479
$link-color: #19245A
$backgroundColorAnnouncement: #bdc7d2
$hoverColor: rgba(38, 51, 108, 0.82)
$inputBorder: #ccc
$inputColor: #333
$inputBackgroundColor: #fff
$focusBorderColor: #eae5e5

// сообщение
$errorColor: red
$errorBorder: red
$headingColor: blue

// переключатель
$toggle-display: inline-block
$toggle-padding-x: 15px
$toggle-line-height: 34px
$toggle-border-color: $colorText
$toggle-border-width: 1px
$toggle-border-radius: 6px
$toggle-off-bg: #ffc5c5
$toggle-on-bg: #bbffbb
$toggle-hover-bg: #f0f0f0
$toggle-focus-outline: 2px solid #4CAF50
$toggle-off-bg-color: #d32f2f
$toggle-on-bg-color: #2e7d32
$toggle-on-background-color: #f0f0f0
$chapters-published-background-color: #bbffbb
$chapters-draft-background-color: #c7c7c7
$I-am-a-dreamer-bg: #98a7bb
$I-am-a-dreamer-color: #c4d0dc

// меню
$background-color-hover: #d3e0ec

//читалка
$link-rider-background-color: #19245A
$link-rider-color: #fff
$link-rider-hover-color: #697479
$rider-main-color: #444444
$rider-main-background-color: #faf8f2
$rider-sidebar-background-color: #697479
$rider-sidebar-color: #f5efdd