@use "reset"
@use "mixins" as *
@use "header"
@use "footer"
@use "modal"
@use "showcase"
@use "forgetPassword"
@use "reg"
@use "bookСard"
@use "likes"
@use "myLibrary"
@use "addBook"
@use "errorModal"
@use "tabNav"
@use "personalAccount"

// глобальные переменные
$colorText: #19245A
$backgroundColor: #c4d0dc

// Базовые настройки
html, body
  height: 100%
  color: $colorText


// Основной контейнер страницы
.page
  display: flex
  flex-direction: column
  min-height: 100vh  // Занимает минимум всю высоту экрана


// Средний блок — растягивается на оставшуюся высоту
.main
  flex: 1  // Ключевое свойство: занимает всё свободное пространство
  background-color: $backgroundColor
  padding: 1rem
  overflow-y: auto  // Если контента много — появляется скролл

.formEmpty
  display: flex
  flex-direction: column
  > a
    padding: 0 2px
    &:focus
      outline: 1px solid $colorText
      outline-offset: 1px
  > input
    @include input1
  button[type=submit]
    @include button1
    margin-top: 1rem
    padding: 5px 20px
.linkImage
  padding: 0
  margin: 0
  &:not(:last-child)
    padding: 0















