

/*#2C2C2C (угольный серый) — основной текст, тёмные блоки;*/

/*#7D7D7D (средний серый) — подзаголовки, иконки;*/

/*#0FA0D7 (яркий голубой) — кнопки, гиперссылки, акценты;*/

/*#F5F5F5 (почти белый) — фон страниц;*/

/*#E0E0E0 (светло‑серый) — границы, разделители.*/

html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #F5F5F5;
    margin-bottom: 60px; /* высота футера */
    /*margin-top: 130px;*/
}
a{
    color: #0FA0D7;
}
.nav-link{
    color: #0FA0D7;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* высота футера */
    background-color: #f5f5f5;
}

.text_block{
    white-space: pre-wrap;
}



/* Оформление боковой панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: darkgray;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid darkgray;
}

#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панели */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}
.side-close:hover{
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}


.book{
    width: 15rem;
    height: 24rem;
    border: solid 2px grey;
    padding: 0.5rem;
    text-align: center;
}

.headBook {
    width: 18rem;
}
.button-up-down{
    --bs-btn-padding-x: 0.1rem;
}


.list-group-item {
    transition: transform 0.2s;
}

.list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chapterList .list-group-item:first-child .btn-up {
    /*display: none;*/
    visibility: hidden;
}
#chapterList .list-group-item:last-child .btn-down {
    /*display: none;*/
    visibility: hidden;
}

.authorCover{
    width: 100%;
    height: 10rem;
    position: relative;
}

.backgroundDrawingAuthor {
    width: 100%;
    height: 100%;
}

.drawingAuthor {
    height: 9rem;
}
.drawingP {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 2rem;
}

/*Стиль для иконок*/
.icon{
    height: 2rem;
}

/*ссылка для иконки*/
.linkIcon{
    padding: 0 0.5rem;
    text-decoration: none;
}

/*стиль для абложки книги*/
.autorBooksImg{
    width: 16rem;
    height: 21rem;
    padding-right: 1rem;
}

/*стиль для кнопки*/
.button1 {
    text-align: center;
    /*transition: 0.1s;*/
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: #003CC5;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
    padding: 0.3rem 1rem;
    margin: 0 0.3rem;
    text-transform: uppercase;
}

.button1:hover {
    background-position: right center;
}
/*вкладки*/
.tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-nav > input[type="radio"] {
    display: none;
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked),
#content-3:has(~ .tab-nav > #tab-btn-3:checked) {
    display: block;
}

.tab-content {
    display: none;
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    order: -1;
}

.tab-nav > label {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    background: 0 0;
    border: 1px solid transparent;
    margin-bottom: -1px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    -webkit-appearance: button;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.tab-nav > input[type="radio"]:checked + label {
    color: #000;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    cursor: default;
}
 /*нижняя полоска в книжной каротчке личного кабинета*/
.bookBox{
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}

/*нижний отступ от блока с кнопками*/
.buttonBox{
    margin-bottom: 1rem;
}


/* Кнопка для открытия */
.css-modal-open {
    position: relative;
}
.css-modal-open:hover,
.css-modal-open:active,
.css-modal-open:focus {
    color: #FFF;
}

/* Контейнер, который затемняет страницу */
.css-modal-target {
    display: none;
}
.css-modal-target:target {
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(90, 90, 90, 0.7);
}

/* Модальное окно */
.css-modal-target .cmt {
    padding: 20px;
    width: 80%;
    z-index: 8;
    max-width: 600px;
    max-height: 70%;
    border: 1px solid #BFE2FF;
    /*border-radius: 12px;*/
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
}

/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    position: relative;
    display: block;
}
.css-modal-close:after {
    content: "";
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
}

