

/*#2C2C2C (угольный серый) — основной текст, тёмные блоки;*/

/*#7D7D7D (средний серый) — подзаголовки, иконки;*/

/*#0FA0D7 (яркий голубой) — кнопки, гиперссылки, акценты;*/

/*#F5F5F5 (почти белый) — фон страниц;*/

/*#E0E0E0 (светло‑серый) — границы, разделители.*/

html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #F5F5F5;
    margin-bottom: 60px; /* высота футера */
    /*margin-top: 130px;*/
}
a{
    color: #0FA0D7;
}
.nav-link{
    color: #0FA0D7;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* высота футера */
    background-color: #f5f5f5;
}

.text_block{
    white-space: pre-wrap;
}



/* Оформление боковой панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: darkgray;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid darkgray;
}

#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панели */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}
.side-close:hover{
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}


.book{
    width: 15rem;
    height: 24rem;
    border: solid 2px grey;
    padding: 0.5rem;
    text-align: center;
}

.headBook {
    width: 18rem;
}
.button-up-down{
    --bs-btn-padding-x: 0.1rem;
}


.list-group-item {
    transition: transform 0.2s;
}

.list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chapterList .list-group-item:first-child .btn-up {
    /*display: none;*/
    visibility: hidden;
}
#chapterList .list-group-item:last-child .btn-down {
    /*display: none;*/
    visibility: hidden;
}

.authorCover{
    width: 100%;
    height: 10rem;
    position: relative;
}

.backgroundDrawingAuthor {
    width: 100%;
    height: 100%;
}

.drawingAuthor {
    height: 9rem;
}
.drawingP {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 2rem;
}

/*Стиль для иконок*/
.icon{
    height: 2rem;
}

/*ссылка для иконки*/
.linkIcon{
    padding: 0 0.5rem;
    text-decoration: none;
}

/*стиль для абложки книги*/
.autorBooksImg{
    width: 16rem;
    height: 21rem;
    padding-right: 1rem;
}

/*стиль для кнопки*/
button {
    text-align: center;
    /*transition: 0.1s;*/
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: #003CC5;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
    padding: 0.3rem 1rem;
    margin: 0 0.3rem;
    text-transform: uppercase;
}

button:hover {
    background-position: right center;
}
/*вкладки*/
.tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-nav > input[type="radio"] {
    display: none;
}

#content-1:has(~ .tab-nav > #tab-btn-1:checked),
#content-2:has(~ .tab-nav > #tab-btn-2:checked),
#content-3:has(~ .tab-nav > #tab-btn-3:checked) {
    display: block;
}

.tab-content {
    display: none;
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    order: -1;
}

.tab-nav > label {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    background: 0 0;
    border: 1px solid transparent;
    margin-bottom: -1px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    -webkit-appearance: button;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.tab-nav > input[type="radio"]:checked + label {
    color: #000;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    cursor: default;
}



